body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-top: 60px; /* To prevent overlap with fixed Navbar */
}

button {
  font-size: 1rem;
  cursor: pointer;
}

.footer {
  margin-top: auto;
}
